body {
    background-color: rgb(224 242 254);
}

input {
    font-family: 'Source Sans Pro';
    font-size: 20px;
    padding-left: 12px;
    text-transform: uppercase;
    border: 1px solid black;
}

input::-webkit-inner-spin-button, input::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

button {
    font-family: 'Source Sans Pro';
    font-size: 20px;
    background-color: rgb(37 99 235);
    color: white;
    border-radius: 4px;
    border: none;
}

.card-scene {
    width: 440px; /*fixed height width and margin */
    height: 240px;
    /* margin:180px auto; */
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 80px; */
    perspective: 1000px;
}

.payment-card {
    width: 100%;
    height: 100%;

    transition: transform 1s;
    transform-style: preserve-3d;
}

.payment-card-front, .payment-card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
}

.payment-card-back {
    background: white;
    transform: rotateY(180deg);
}

.payment-card-front {
    border-radius: 20px;
    width: 440px;
    height: 240px;
    margin: auto;
    margin-top: 120px;
    background: linear-gradient(to right, #183159, #1B578F);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 3;
}

.payment-card-top-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.payment-card-chip {
    display: flex;
    border-radius: 4px;
    margin-top: 40px;
    margin-left: 20px;
    width: 60px;
    height: 40px;
    background-color: #DBA85B;
}

.chip-left-horizontal-line-group {
    display: flex;
    flex-direction: column;
    width: 20px;
    justify-content: space-around;
}

.chip-left-horizontal-line {
    border: 1px solid #BA8237;
    width: 20px;
}

.chip-left-curve {
    border: 1px solid #BA8237;
    margin-right: 0px;
    margin-left: 0px;
    border-radius: 5px 0 0 5px;
    height: 10px;
    margin-top: 15px;
}

.chip-left-vertical-line {
    background-color: #BA8237;
    height: 40px;
    width: 2px;
}

.chip-right-vertical-line {
    background-color: #BA8237;
    height: 40px;
    width: 2px;
    margin-left: 20px;
}

.mastercard-logo {
    margin-right: 20px;
    margin-top: 36px;
}

.payment-card-number {
    display: flex;
    justify-content: space-around;
    border: 2px solid #CBD5E1;
    border-radius: 8px;
    color: rgb(226 232 240);
    margin-top: 16px;
    margin-left: 24px;
    margin-right: 24px;
    padding-top: 8px;
    height: 44px;
    font-family: 'Source Code Pro';
    font-size: 24px;
}

.payment-card-footer {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    padding-left: 32px;
    padding-right: 32px;
    font-family: 'Source Code Pro';
}

.payment-card-holder-label, .payment-card-expiry-label {
    color: #CBD5E1;
}

.payment-card-holder-value, .payment-card-expiry-value {
    margin-top: 4px;
    color: rgb(226 232 240);
}

.payment-card-back {
    background: linear-gradient(to left, #183159, #1B578F);
    transform: rotateY(180deg);
    border-radius: 20px;
    margin: auto;
    margin-top: 120px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form {
    font-family: 'Source Sans Pro';
    border-radius: 10px;
    background-color: white;
    height: 320px;
    width: 600px;
    margin-top: -10px;
    padding-top: 140px;
    padding-left: 45px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form-card-number-label, .form-card-name-label {
    width: 550px;
    margin-top: 20px;
}

.form-card-number-input, .form-card-name-input {
    width: 550px;
    height: 40px;
    border-radius: 4px;
    border-color: rgb(197 201 206);
}

.form-card-expiry-month-input, .form-card-expiry-year-input {
    font-size: 24px;
    width: 140px;
    margin-right: 20px;
    padding-left: 12px;
    border-radius: 4px;
    border-color: rgb(197 201 206);
}

.form-card-expiry-cvv-group {
    display: flex;
    /*justify-content: space-between;*/
    gap:85px;
    width: 550px;
    margin-top: 20px;
}

.form-card-cvv-input {
    width: 140px;
    border-radius: 4px;
    border-color: rgb(197 201 206);
}

.form-card-submit-button {
    width: 550px;
    margin-top: 20px;
    height: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.payment-card-back-top-black-bar {
    margin-top: 40px;
    height: 40px;
    background-color: black;
}

.payment-card-back-cvv-input-label {
    font-family: 'Source Sans Pro';
    color: white;
    text-align: right;
    margin-right: 20px;
}

.payment-card-back-cvv-input {
    width: 400px;
    margin-left: 20px;
    border-radius: 4px;
    border-color: rgb(197 201 206);
    text-align: right;
}

.payment-card-back-mastercard-logo {
    text-align: right;
    margin-top: 20px;
    margin-right: 20px;
}